.Login {
  display: flex;
  align-items: center;
  justify-content: center;


  .logginErrorMessage {
    color:red;
    margin: 1rem 0;
    font-size: 1.3rem;
  }
}

.Login .formHolder{
  width: 25%;
  margin: auto;
  padding: 2rem;  
  border-radius: 0.6rem;
}

.Login .button-holder {
  justify-content: space-between;
  align-items: center;
}