
#NavbarLogga {
  height: 2.2rem;
}
.navbar a {
  padding: 0.3rem 1rem;
  color: #333;
  text-decoration: none;
  font-weight: 500;
}
.navbar a:hover {
  text-decoration: underline;
}
.navbar .hej {
  top: 7px !important;
  left: 90% !important;
}