.ProductDetails {

  img {
    height: 35rem;
  }

  div{
    div{
      h3 {
        font-size: 2rem;
      }
      p {
        font-size: 1.2rem;
      }

      div {
        .Price {
          font-size: 2.6rem;
          color: red;
          font-weight: bold;
        }
      }
    }
  }

}